
@import "reset-min.css";
@import "variables";


html {
    background-color: @fondo;
}

no.body.acciones {
    background-color: #1F1F1F;
}

#background {
    width: 960px;
    height: 2000px;
    margin: 20px auto;
    background-repeat: repeat-y;
}

#background.intro {
    background-image: url('/images/backgrounds/intro.gif');
}
#background.acciones {
    background-image: url('/images/backgrounds/acciones.gif');
}
#background.tutorial {
    background-image: url('/images/backgrounds/tutorial.gif');
}

#page {
    width: 872px;
    margin: 0 auto;
}

#header {
    width: 100%;
    overflow: hidden;
}

#logo {
    width: 143px; height: 145px;
    background-repeat: none;
    float: left;
    background-image: url('/images/pieces/logo_off.png');
}
body.intro #logo {background-image: url('/images/pieces/logo_intro.png');}

#banner {
    width: 727px;
    height: 144px;
    float: left;
    border: 1px solid @verde;
    border-bottom: 0px;
}

#menu {
    width: 870px;
    height: 35px;
    overflow: hidden;
    border: 1px solid @verde;
}
#menu li {
    display: block;
    overflow: hidden;
    text-indent: -1000px;
    float: left;
    height: 35px;
    margin-left: -1px;
    background-repeat: no-repeat;
}
#menu li > * {
    display: block;
    height: 35px;
    border-left: 1px solid @verde;
    border-right: 1px solid @verde;
}

#menu .intro {width: 280px;}
#menu a.intro {background-image: url('/images/pieces/intro_off.png');}
#menu span.intro {background-image: url('/images/pieces/intro_on.png');}

#menu .acciones {width: 279px;}
#menu a.acciones {background-image: url('/images/pieces/acciones_off.png');}
#menu span.acciones {background-image: url('/images/pieces/acciones_on.png');}

#menu .tutorial {width: 269px;}
#menu a.tutorial {background-image: url('/images/pieces/tutorial_off.png');}
#menu span.tutorial {background-image: url('/images/pieces/tutorial_on.png');}

#menu .faq {width: 39px;border-right: 0px;}
#menu a.faq {background-image: url('/images/pieces/faq_off.png');}
#menu span.faq {background-image: url('/images/pieces/faq_on.png');}

#content {width: 871px; height: 391px; margin-top: -1px;
    background: url('/images/pieces/viewer.gif') no-repeat;}
#body {color: white; position: relative; left: 5px; top: 5px; width: 430px;}