<% title t('.title') %>

<div class="info">
<p>Pues si has llegado hasta aquí es que o bien eres de la chupi-flo68-pandi o nos has robado
  las contraseñas...</p>
<p>Desde aquí puedes modificar las secciones, añadir o quitar vídeos, comentarios, y todo lo que vaya siendo auto-modificable en esta web...</p>
<p>Bienvenidx y a destruir el capital!!</p>
</div>
