<% title t('.title', :section => @section.name.camelize) %>

<ul class="properties">
  <li class="actions"><%= link_to t('app.edit'), edit_section_path(@section) %></li>
  <li><label>Nombre: </label><%= @section.title %></li>
  <li><label>Video: </label><%= @section.video %></li>
  <li><label>Texto: </label><%= @section.body %></li>
</ul>