
<div id="video_list">
  <% videos.each do |video| %>
    <% div_for video do %>
      <div class="preview"><%= image_tag video.preview.url %></div>
      <div class="content">
        <label><%= video.title %></label>
        <p>Haz click <%= link_to 'aqui', {:controller => 'pages', :action => action, :id => video.id } %> para ver el vídeo</p>
      </div>
    <% end %>
  <% end %>
</div>
