
<div id="content">
  <div id="content_top">&nbsp;</div>
  <div id="slideshow">
  </div>
  <%= render 'videos', :videos => @section.videos, :action => 'acciones' %>
</div>
<div id="side">
  <div id="viewer">
    <div id="video"></div>
  </div>
  <div id="comments-head">&nbsp;</div>
  <div id="comments">
    <%= render 'comments', :object => @section.comments %>
  </div>
</div>

