<div id="content">
  <div id="content_top">&nbsp;</div>
</div>
<div id="side">
  <div id="viewer">
    <div id="video"></div>
  </div>
  <div id="comments-head">&nbsp;</div>
  <div id="comments">
  </div>
</div>