
<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $("#planos .video").video({url: 'http://vimeo.com/6631139', generator: 'none', width: 426, height: 319});
      $("#ensayos .video").video({url: 'http://vimeo.com/6631139', generator: 'none', width: 426, height: 319});
      $("#elpalo .video").video({url: 'http://vimeo.com/6631139', generator: 'none', width: 426, height: 319});
    });
  </script>
<% end %>

<div id="content">
  <div id="content_top">&nbsp;</div>
  <br/><br/>
  <%= image_tag 'pieces/imagen_tutorial.png' %>
</div>
<div id="side">
  <div id="planos">
    <div class="video"></div>
  </div>
  <div id="ensayos">
    <div class="video"></div>
  </div>
  <div id="elpalo">
    <div class="video"></div>
  </div>
</div>